<h3>Rock Collection</h3> 

<div>
<h3>Emerald</h3>
<p> Color - Green </p>
<p> Variety of Beryl </p>  
<p>Hardness - 7.5 to 8</p>
<p>Found in - Columbia, Brazil, Russia, and Africa</p>
</div>
 
<div>
<h3>Fire Agate</h3>
<p> Color - Multi-colored with brown base</p>
<p> Variety of Agate</p>  
<p>Hardness - 7</p>
<p>Found in - Mexico</p>
</div>
<div>
  <h3>Amazonite</h3>
<p> Color - Blue-green</p>
<p> Variety of Feldspar</p>  
<p>Hardness - 6</p>
<p>Found in - Colorado, India, Madagascar</p>
</div>
<div>
  <h3>Carnelian</h3>
<p> Color - Orange-red</p>
<p> Variety of Chaledony</p>  
<p>Hardness - 7</p>
<p>Found in - India, Russia, Brazil</p>
</div>
<div>
<h3>Mining-Goals</h3>
    <p>{{mining[0]}}</p>
  </div>